.claim

	&-success
		+flex
		padding: 30px 0
		height: calc(100vh - 300px)
		+justify-content(center)
		+align-items(center)

		&-wrap
			margin:
				left: -100px
			text-align: center

		&-text
			margin: 0 auto
				top: 40px
			max-width: 475px
			font-size: 33px
			font-weight: 400
			line-height: 43px
		
		.order-list-buttons-wrap
			margin:
				top: 40px
			+justify-content(center)

		.order-list-buttons-item
			&:first-child
				margin: 0