.orders
	&-heading
		+flex
		margin:
			top: 30px

		&-elem
			+flex
			+align-items(center)

			&:nth-child(1)
				width: 84.45%
				

			&:nth-child(2)
				margin: 0 0 0 auto
				width: 15.55%

		&-item
			+flex
			padding:
				right: 50px
			width: 33.33%
			+align-items(center)

			&:nth-child(3)
				padding:
					right: 30px
		
		&-text
			margin:
				right: 10px
		
		&-clean
			width: 21px
			height: 21px
			background-image: url(../img/icon/cross.svg)
			background-size: cover
			background-position: center center
			background-repeat: no-repeat
			cursor: pointer
		
