.order
	&-amount
		&-table-wrap
			overflow-y: auto

		&-table
			padding: 
				bottom: 0
			min-width: 720px
				
			.table
				&-wrap
					padding:
						bottom: 10px
						
				&-row
					&.active
						background-color: #292C32
						
						.table-elem
							color: $accent-color

						.order-amount-table-input
							background-color: #53565B
							color: $accent-color

						.order-amount-table-input-arrow
							&-img
								path
									fill: #A5A7A9
							
							&:hover
								.order-amount-table-input-arrow-img
									path
										fill: $white
					
			&-input
				padding: 12px 10px 12px 15px
				width: 100%
				color: $font-light-color
				background-color: #292C32
				border: 0
				border-radius: 6px
				+prefix(user-select, none)
				+prefix(transition, $default-transition)
			
				&:focus
					color: $white
			
				&-wrap
					position: relative
					max-width: 80px

				&-arrow
					+flex
					position: absolute
					right: 5px
					width: 9px
					height: 20px
					+align-items(center)
					cursor: pointer
					
					&-img
						width: 100%

						path
							+prefix(transition, $default-transition)

					&:hover
						.order-amount-table-input-arrow-img
							path
								fill: #A5A7A9

					&.plus
						top: 0
					
					&.minus
						bottom: 0
			
			&-value
				+flex

			&-btn
				margin:
					left: 10px
				width: 40px
				height: 40px
				background-color: #292C32
				border: 0
				border-radius: 6px
				cursor: pointer
				+prefix(transition, $default-transition)

				&-img
					path
						+prefix(transition, $default-transition)

				&.active
					background-color: #53565B
					.order-amount-table-btn-img
						path
							fill: $accent-color
				
				&:hover
					background-color: #53565B

					.order-amount-table-btn-img
						path
							fill: $accent-color

		&-more
			padding: 10px
				bottom: 11px
			font-size: 18px
			line-height: 28px
			text-align: center
			background-color: #292C32
			cursor: pointer
			+prefix(transition, $default-transition)

			&-text
				color: $accent-color
			
			&:hover
				color: $accent-color
	
	&-list

		&-top
			+flex
			padding: 40px 30px
				bottom: 20px
		
			&-elem
				+flex
				width: 50%
				+align-items(center)

				&:nth-child(1)
					width: 60%

				&:nth-child(2)
					width: 40%
			
		&-btn
			margin:
				left: 30px
			font-size: 18px
			line-height: 18px
			color: $font-light-color
			background-color: transparent
			border: 0
			+prefix(transition, $default-transition)
			cursor: pointer

			&:hover
				color: $accent-color

		&-bottom
			overflow-y: auto
		
			&-wrap
				min-width: 750px

		&-item
			margin:
				bottom: 5px
			
			&.active
				.order-list-main-row
					background-color: #53565B
				
					.order-list-elem:not(.error)
						color: $accent-color
					
					.order-amount-table-input
						background-color: #292C32

					.order-list-elem-delete
						opacity: 1
						pointer-events: all

				.table-arrow
					+prefix(transform, rotate(-90deg))
				
				.order-list-sublist
					.order-list-row
						background-color: transparent

			&:last-child
				margin: 0

		&-main-row
			background-color: #292C32
			+prefix(transition, $default-transition)
			cursor: pointer

			.order-list-elem-delete
				opacity: 0
				pointer-events: none
			
			.order-amount-table-input
				background-color: $bg-default-color
				
		&-row
			+flex
			position: relative
			+justify-content(space-between)

			&.order-list-heading
				background-color: transparent
				cursor: default
				
				.order-list-elem
					text-transform: uppercase

		&-elem
			position: relative
			padding: 16px 0 14px 0
			font-size: 14px
			line-height: 20px
			color: $font-light-color
			+prefix(transition, $default-transition)

			&:nth-child(1)
				padding:
					left: 10px
				margin:
					right: 1.83%
				width: 5.5%

			&:nth-child(2)
				margin:
					right: 1.8%
				width: 36.83%
				text-transform: uppercase
			
			&:nth-child(3)
				margin:
					right: 3.67%
				width: 9.17%
			
			&:nth-child(4)
				margin:
					right: 3.67%
				width: 7.34%
			
			&:nth-child(5)
				margin:
					right: 3.67%
				width: 11.93%
			
			&:nth-child(6)
				padding:
					right: 45px
				width: 11.01%

			&.error
				color: #FF5449

			&-delete
				position: absolute
				top: 15px
				right: 25px
				width: 20px
				height: 20px
				+prefix(transition, $default-transition)
				cursor: pointer

				&-img
					rect
						+prefix(transition, $default-transition)

				&:hover
					.order-list-elem-delete-img
						rect
							fill: $accent-color

		&-sublist
			display: none
			padding:
				top: 10px
				bottom: 10px

			.order-list
				&-row
					+align-items(center)
					border:
						bottom: 1px solid #292C32
					background-color: transparent

					&:last-child
						border: 0

				&-elem
					padding: 
						top: 5px
						bottom: 5px
					color: $white

					&.error
						color: #FF5449
		
		&-buttons
			+flex
			margin:
				top: 20px
			+align-items(center)

			&-wrap
				+flex
				margin: 0 0 0 auto

			&-item
				+flex
				margin:
					left: 10px
				padding: 5px
				width: 60px
				height: 50px
				background-color: #1F2227
				background-size: auto
				background-position: center center
				background-repeat: no-repeat
				border-radius: 6px
				cursor: pointer
				+box-shadow(0px 0px 10px rgba(0, 0, 0, 0.2))
				+prefix(transition, $default-transition)

				&-img
					margin: auto
					path,
					circle,
					rect
						+prefix(transition, $default-transition)

				&:hover
					background-color: #292C32

					.order-list-buttons-item-img
						path:not(.stroke),
						rect:not(.notfill)
							fill: $accent-color
						
						circle,
						.stroke
							stroke: $accent-color
		
		&-submit
			position: relative
			max-width: 290px
	
	&-product
		&-prev
			margin:
				top: 30px
			&-wrap
				padding: 30px 10px
			
			&-slider 
				+flex
				margin: 0 auto
				max-width: 492px

				&-elem
					padding: 0 15px
					outline: none

				&-img-box
					position: relative
					width: 100%
					max-width: 134px
					border-radius: 6px 
					overflow: hidden
				
				&-img
					display: block
					width: 100%
					hieght: auto
				
				.slick-arrow
					position: absolute
					margin:
						top: -12px
					top: 50%
					width: 13px
					height: 24px
					font-size: 0
					background-color: transparent
					border: 0
					cursor: pointer
					z-index: 10

					&.slick-prev
						left: -5px
						background-image: url(../img/icon/arrow-s-l.svg)
					
					&.slick-next
						right: -5px
						background-image: url(../img/icon/arrow-s-r.svg)
				
		&-btn-wrap
			+flex
			background-color: #292C32
			
		&-btn
			display: block
			padding: 11px 10px
			width: 50%
			font-size: 18px
			line-height: 28px
			color: $white
			text-align: center
			+prefix(transition, $default-transition)

			&:hover
				color: $accent-color