.product
	&-info
	
		&-top
			+flex
			padding:
				top: 40px
				left: 21px
				right: 28px
				bottom: 27px
			+align-items(center)
			
			&-elem
				+flex
				+align-items(center)

				&:first-child
					width: 100%
					max-width: 183px

				&:last-child
					padding:
						left: 30px
					width: 100% 
		
		&-text
			margin:
				right: 10px
			
		&-clear
			margin:
				left: 30px
			width: 21px
			height: 21px
			background-image: url(../img/icon/cross.svg)
			background-size: cover
			background-position: center center
			background-repeat: no-repeat
			cursor: pointer

	&-slider-block
		margin:
			top: 30px

	&-slider-wrap
		+flex
		padding: 30px
			bottom: 0
		+justify-content(center)

	&-slider
		position: relative
		margin:
			right: 30px
		width: 82%
		max-width: 389px

		&-elem 
			width: 100%
			outline: none
			
		&-img
			width: 100%

		.slick-arrow
			position: absolute
			margin:
			top: -12px
			top: 50%
			width: 13px
			height: 24px
			font-size: 0
			background-color: transparent
			background-size: cover
			background-position: center center
			background-repeat: no-repeat
			border: 0
			cursor: pointer
			z-index: 10

			&.slick-disabled
				opacity: .5

			&.slick-prev
				left: -18px
				background-image: url(../img/icon/arrow-s-l.svg)
			
			&.slick-next
				right: -18px
				background-image: url(../img/icon/arrow-s-r.svg)

		&-nav
			margin:
				top: -30px
			width: 18%
			
			&-elem
				margin:
					top: 30px
				max-width: 118px
				height: 100%
				max-height: 205px
				outline: none

			&-img
				display: block
				width: 100%
				height: auto

		&-buttons
			+flex
			margin:
				top: 30px
			padding: 0 30px
			width: 100%
			background-color: #292C32
			+justify-content(space-between)
		
		&-link
			display: inline-block
			padding: 11px 10px
			width: 100% 
			max-width: 205px
			font-size: 18px
			line-height: 28px
			color: $font-light-color
			text-align: center

