.shipment
	.table.orders-list-table
		.table-elem
			&:nth-child(1)
				margin:
					right: 1.73%
				width: 5.38%
			
			&:nth-child(2)
				margin:
					right: 1.73%
				width: 16.76%
			
			&:nth-child(3)
				margin:
					right: 5.2%
				width: 14.45%
			
			&:nth-child(4)
				margin:
					right: 2.89%
				width: 10.4%
			
			&:nth-child(5)
				margin:
					right: 4.05%
				width: 6.36%
			
			&:nth-child(6)
				margin:
					right: 4.91%
				width: 6.94%
			
			&:nth-child(7)
				margin:
					right: 4.34%
				width: 7.51%

			&:nth-child(8)
				width: 7.51%

