.all-page
	.all-page_box
		.all-page_title 
			span Список всех страниц:
		ul.all-page_list
			li
				a(href="main_page.html" target="_blank") 
					| 1. Главная страница 
					span (main_page.html)
			li
				a(href="product_page.html" target="_blank") 
					| 2. Страница товара 
					span (product_page.html)
			li
				a(href="order_page.html" target="_blank") 
					| 3. Страница оформления заказа 
					span (order_page.html)
			li
				a(href="orders_page.html" target="_blank") 
					| 4. Страница заказов 
					span (orders_page.html)
			li
				a(href="company_page.html" target="_blank") 
					| 5. Страница компании 
					span (company_page.html)
			li
				a(href="claim_success_page.html" target="_blank") 
					| 6. Страница претензий 
					span (claim_success_page.html)
			li
				a(href="claim_success_page.html" target="_blank") 
					| 7. Страница претензий 
					span (claim_success_page.html)
			li
				a(href="shipment_page.html" target="_blank") 
					| 8. Страница отгрузки 
					span (shipment_page.html)
			li
				a(href="shipment_application_pickup_page.html" target="_blank") 
					| 9. Страница отгрузки - самовывоз  
					span (shipment_application_pickup_page.html)
			li
				a(href="shipment_application_delivery_page.html" target="_blank") 
					| 10. Страница отгрузки - доставка  
					span (shipment_application_delivery_page.html)
			li
				a(href="preloader_page.html" target="_blank") 
					| Прелоадер 
					span (preloader_page.html)