.wrapper
	include ../var/sidebar.pug

	.content
		.top-line.product-page
			.top-line-menu-btn
				span
				span
				span
			.top-line-card.scroll-elem
				.top-line-card-more-info
				.top-line-card-wrap
					a(href="").top-line-card-item.orange ООО Столица
					a(href="").top-line-card-item.green ООО Вектор
					a(href="").top-line-card-item.green ООО Тристан
					a(href="").top-line-card-item.orange ООО Лама
					a(href="").top-line-card-item.red ИП Лавочкин
					a(href="").top-line-card-add
			.top-line-info 
				.top-line-info-text Уважаемые клиенты, в связи с короновирусорм склад работает до 15600 
				.top-line-info-close
					svg(width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg").top-line-info-close-img
						rect(x="0.250031" y="2.07935" width="2.25351" height="22.5351" rx="1.12676" transform="rotate(-45 0.250031 2.07935)" fill="#A5A7A9")
						rect(width="2.25351" height="22.5351" rx="1.12676" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 17.5282 2.07935)" fill="#A5A7A9")
			.top-line-button
				a(href="").top-line-link
					svg(width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg").top-line-link-img
						rect(x="1" y="1" width="24" height="17.0667" rx="2" stroke="#A5A7A9" stroke-width="2").stroke
						rect(x="1.91412" y="0.866699" width="15.4602" height="1.73333" rx="0.866667" transform="rotate(37.1759 1.91412 0.866699)" fill="#A5A7A9").fill
						rect(width="15.4602" height="1.73333" rx="0.866667" transform="matrix(-0.796784 0.604264 0.604264 0.796784 24.1801 0.866699)" fill="#A5A7A9").fill
				a(href="").top-line-link.top-line-notification.active
					svg(width="24" height="27" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg").top-line-link-img
						path(d="M22.8411 21.7618L22.769 21.831L22.8411 21.7617C20.7863 19.6188 19.6547 16.8039 19.6547 13.8351V11.498C19.6547 8.06943 17.393 5.16002 14.2837 4.18163V3.19727C14.2837 1.93046 13.2532 0.9 11.9864 0.9C10.7196 0.9 9.68912 1.93046 9.68912 3.19727V4.18163C6.57977 5.16002 4.31803 8.06938 4.31803 11.498V13.8351C4.31803 16.804 3.18649 19.6188 1.13164 21.7617C0.900786 22.0025 0.835909 22.3577 0.966767 22.6645C1.09762 22.9713 1.39896 23.1703 1.73248 23.1703H8.3172C8.69703 24.8455 10.1977 26.1 11.9864 26.1C13.7751 26.1 15.2757 24.8455 15.6556 23.1703H22.2403C22.5738 23.1703 22.8751 22.9712 23.006 22.6645C23.1368 22.3577 23.0719 22.0025 22.8411 21.7618ZM11.354 3.19727C11.354 2.84864 11.6378 2.56484 11.9864 2.56484C12.335 2.56484 12.6188 2.84864 12.6188 3.19727V3.8559C12.4103 3.83871 12.1994 3.82969 11.9864 3.82969C11.7734 3.82969 11.5625 3.83871 11.354 3.8559V3.19727ZM11.9864 24.4352C11.1259 24.4352 10.3848 23.914 10.0619 23.1703H13.9109C13.588 23.914 12.8468 24.4352 11.9864 24.4352ZM3.50859 21.5055C5.1145 19.2837 5.98287 16.6182 5.98287 13.8351V11.498C5.98287 8.1878 8.67614 5.49453 11.9864 5.49453C15.2966 5.49453 17.9899 8.1878 17.9899 11.498V13.8351C17.9899 16.6182 18.8583 19.2837 20.4642 21.5055H3.50859Z" fill="#A5A7A9" stroke="#A5A7A9" stroke-width="0.2")
					.top-line-notification-val
						.top-line-notification-num 1
				a(href="").top-line-account
					.top-line-account-img-box
						img(src="style/img/avatar.png", alt="").top-line-account-img
		
		.company-head
			.company-head-elem
				.company-head-wrap
					.company-head-item.red
						.content-elem
							.company-head-item-title Эксперт Спецодежда
							.company-card-sale
								.company-card-sale-box
									span.company-card-sale-text Скидка
									.company-card-sale-value 5 %
							.company-head-info
								.company-head-info-row
									.company-head-info-elem.l.highlight Долг: 5 123 ₽
									.company-head-info-elem.r
										span.company-head-info-title Отстрочка
										span.company-head-info-val 92 дня
								.company-head-info-row
									.company-head-info-elem.l Баланс: 315 ₽
									.company-head-info-elem.r
										span.company-head-info-title Дата погашения
										span.company-head-info-val 21.02.20
							.company-head-sale.sale
								.sale-title До скидки 6 %
								.sale-progressbar-wrap
									.sale-progressbar
										.sale-progressbar-line
											.sale-progressbar-val
												span.sale-progressbar-val-money (0)
												span.sale-progressbar-val-percent 0%
									.sale-progressbar-money
										.sale-progressbar-min 120 000
										.sale-progressbar-max 250 000

					.company-head-item.yellow
						.content-elem
							.company-head-item-title Фабрика рабочей обуви
							.company-card-sale
								.company-card-sale-box
									span.company-card-sale-text Скидка
									.company-card-sale-value 5 %
							.company-head-info
								.company-head-info-row
									.company-head-info-elem.l.highlight Долг: 5 123 ₽
									.company-head-info-elem.r
										span.company-head-info-title Отстрочка
										span.company-head-info-val 92 дня
								.company-head-info-row
									.company-head-info-elem.l Баланс: 315 ₽
									.company-head-info-elem.r
										span.company-head-info-title Дата погашения
										span.company-head-info-val 21.02.20
							.company-head-sale.sale
								.sale-title До скидки 6 %
								.sale-progressbar-wrap
									.sale-progressbar
										.sale-progressbar-line
											.sale-progressbar-val
												span.sale-progressbar-val-money (0)
												span.sale-progressbar-val-percent 0%
									.sale-progressbar-money
										.sale-progressbar-min 120 000
										.sale-progressbar-max 250 000

					.company-head-item.documents
						.content-elem
							.company-head-item-title Документы
							ul.company-head-list
								li.company-head-list-elem 
									img(src="style/img/icon/doc.svg", alt="").company-head-list-img 
									a(href="").company-head-list-link ЭС - счёт №2345 от 03.02.2020
								li.company-head-list-elem 
									img(src="style/img/icon/doc.svg", alt="").company-head-list-img
									a(href="").company-head-list-link ЭС - счёт №2345 от 03.02.2020
								li.company-head-list-elem 
									img(src="style/img/icon/doc.svg", alt="").company-head-list-img
									a(href="").company-head-list-link ЭС - счёт №2345 от 03.02.2020
								li.company-head-list-elem 
									img(src="style/img/icon/doc.svg", alt="").company-head-list-img
									a(href="").company-head-list-link ЭС - счёт №2345 от 03.02.2020
								li.company-head-list-elem 
									img(src="style/img/icon/doc.svg", alt="").company-head-list-img
									a(href="").company-head-list-link ЭС - счёт №2345 от 03.02.2020
							a(href="").company-head-btn Подробнее
					
				.company-head-nav
					nav.company-head-nav-list
						li
							a(href="").company-head-nav-link Рабочий стол
						li
							a(href="").company-head-nav-link Взаиморасчёты
						li
							a(href="").company-head-nav-link Сертефикаты
						li
							a(href="").company-head-nav-link Комерческие предложения

			.company-head-elem 
				.company-head-about.content-elem
					.company-head-about-info
						.company-head-about-title ООО "Лама"
						.company-head-about-wrap
							a(href="").company-head-about-add 
								img(src="style/img/icon/doc-add.svg", alt="").company-head-about-add-img
								| Добавить заказ 
							.company-head-about-text
								span.company-head-about-text-top Город
								span.company-head-about-text-bottom Пермь
						.company-head-about-text-wrap
							.company-head-about-text
								span.company-head-about-text-top ИНН 
								span.company-head-about-text-bottom 5903 1023 45
							.company-head-about-text
								span.company-head-about-text-top Телефон
								span.company-head-about-text-bottom 8 908 123 45 67
							.company-head-about-text
								span.company-head-about-text-top БИК 
								span.company-head-about-text-bottom 04 57 71 603
							.company-head-about-text
								span.company-head-about-text-top E-mail
								span.company-head-about-text-bottom Company@mail.ru
							.company-head-about-text
								span.company-head-about-text-top Р/сч
								span.company-head-about-text-bottom 1234 5678 9123 4567 8912
							.company-head-about-text
								span.company-head-about-text-top Адрес
								span.company-head-about-text-bottom Пермь, ул. Ленина 1-101
							.company-head-about-text
								span.company-head-about-text-top К/сч
								span.company-head-about-text-bottom 1234 5678 9123 4567 8912
					.company-head-about-btn-wrap
						a(href="").company-head-about-btn Договора
						a(href="").company-head-about-btn Редактировать

		.company-sale.sale
			.sale-head
				.sale-title Скидка 6 %
				.sale-lacks Не хватает 51 710 до скидки 10 %
			.sale-progressbar-wrap
				.sale-progressbar
					.sale-progressbar-line
						.sale-progressbar-val
							span.sale-progressbar-val-money (195 400)
							span.sale-progressbar-val-percent 73%
				.sale-progressbar-money
					.sale-progressbar-min 120 000
					.sale-progressbar-max 250 000

		.company-calendar-wrap
			.company-calendar-box.content-elem
				form(action="").company-search-wrap
					.company-search-input-wrap
						input(type="text" placeholder="Поиск").company-search-input
						img(src="style/img/icon/cross.svg", alt="").company-search-input-clear
					button.company-search-btn.gradient-btn
						img(src="style/img/icon/search.svg", alt="").company-search-btn-img
				.company-calendar#calendar
			.company-consultant
				.company-consultant-wrap.content-elem
					.company-consultant-info
						.company-consultant-img-box
							img(src="style/img/consultant.jpg", alt="").company-consultant-img
						.company-consultant-info-box
							.company-consultant-info-about 
								.company-consultant-name Приходько Катерина Павловна
								.company-consultant-position Персональный менеджер
							.company-consultant-contact
								a(href="tel:+89081234567").company-consultant-phone 8 908 123 45 67
								a(href="tel:+89081234567").company-consultant-phone 8 908 123 45 67
							.company-consultant-time
								.company-consultant-time-title Режим работы
								.company-consultant-time-val Пн-Пт, 9:00 - 18:00 МСК
					a(href="mailto:test@text.com").company-consultant-mail
						img(src="style/img/icon/mail-send.svg", alt="").company-consultant-mail-img
						| Написать

						