.wrapper
	include ../var/sidebar.pug

	.content
		.top-line.order-page
			.top-line-card
				a(href="").top-line-card-item.orange ООО Столица
			.top-line-info 
				.top-line-info-text Уважаемые клиенты, в связи с короновирусорм склад работает до 15600 
				.top-line-info-close
					svg(width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg").top-line-info-close-img
						rect(x="0.250031" y="2.07935" width="2.25351" height="22.5351" rx="1.12676" transform="rotate(-45 0.250031 2.07935)" fill="#A5A7A9")
						rect(width="2.25351" height="22.5351" rx="1.12676" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 17.5282 2.07935)" fill="#A5A7A9")
			.top-line-button
				a(href="").top-line-link
					svg(width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg").top-line-link-img
						rect(x="1" y="1" width="24" height="17.0667" rx="2" stroke="#A5A7A9" stroke-width="2").stroke
						rect(x="1.91412" y="0.866699" width="15.4602" height="1.73333" rx="0.866667" transform="rotate(37.1759 1.91412 0.866699)" fill="#A5A7A9").fill
						rect(width="15.4602" height="1.73333" rx="0.866667" transform="matrix(-0.796784 0.604264 0.604264 0.796784 24.1801 0.866699)" fill="#A5A7A9").fill
				a(href="").top-line-link.top-line-notification.active
					svg(width="24" height="27" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg").top-line-link-img
						path(d="M22.8411 21.7618L22.769 21.831L22.8411 21.7617C20.7863 19.6188 19.6547 16.8039 19.6547 13.8351V11.498C19.6547 8.06943 17.393 5.16002 14.2837 4.18163V3.19727C14.2837 1.93046 13.2532 0.9 11.9864 0.9C10.7196 0.9 9.68912 1.93046 9.68912 3.19727V4.18163C6.57977 5.16002 4.31803 8.06938 4.31803 11.498V13.8351C4.31803 16.804 3.18649 19.6188 1.13164 21.7617C0.900786 22.0025 0.835909 22.3577 0.966767 22.6645C1.09762 22.9713 1.39896 23.1703 1.73248 23.1703H8.3172C8.69703 24.8455 10.1977 26.1 11.9864 26.1C13.7751 26.1 15.2757 24.8455 15.6556 23.1703H22.2403C22.5738 23.1703 22.8751 22.9712 23.006 22.6645C23.1368 22.3577 23.0719 22.0025 22.8411 21.7618ZM11.354 3.19727C11.354 2.84864 11.6378 2.56484 11.9864 2.56484C12.335 2.56484 12.6188 2.84864 12.6188 3.19727V3.8559C12.4103 3.83871 12.1994 3.82969 11.9864 3.82969C11.7734 3.82969 11.5625 3.83871 11.354 3.8559V3.19727ZM11.9864 24.4352C11.1259 24.4352 10.3848 23.914 10.0619 23.1703H13.9109C13.588 23.914 12.8468 24.4352 11.9864 24.4352ZM3.50859 21.5055C5.1145 19.2837 5.98287 16.6182 5.98287 13.8351V11.498C5.98287 8.1878 8.67614 5.49453 11.9864 5.49453C15.2966 5.49453 17.9899 8.1878 17.9899 11.498V13.8351C17.9899 16.6182 18.8583 19.2837 20.4642 21.5055H3.50859Z" fill="#A5A7A9" stroke="#A5A7A9" stroke-width="0.2")
					.top-line-notification-val
						.top-line-notification-num 1
				a(href="").top-line-account
					.top-line-account-img-box
						img(src="style/img/avatar.png", alt="").top-line-account-img
		
		nav.nav
			ul.nav-list
				li
					a(href="").nav-link Заказы
				li
					a(href="").nav-link Отгрузки
				li
					a(href="").nav-link Возвраты
				li
					a(href="").nav-link Претензии
				li
					a(href="").nav-link Договора
				li
					a(href="").nav-link Взаиморасчеты
		
		.content-heading-wrap.proudct-heading-wrap
			.content-heading-wrap-elem
				.content-heading Костюм “Финикс” бежевый/олива
			.content-heading-wrap-elem
				.content-heading-price 
					.content-heading-price-text Ваша цена: 
					.content-heading-price-value 1 000 ₽
				.content-heading-btn
					svg(width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg").content-heading-btn-img
						path(fill-rule="evenodd" clip-rule="evenodd" d="M3 2H18.75C19.3023 2 19.75 2.44772 19.75 3V11.4552C20.0954 11.414 20.447 11.3928 20.8036 11.3928C21.1233 11.3928 21.4391 11.4099 21.75 11.4431V3C21.75 1.34315 20.4069 0 18.75 0H3C1.34315 0 0 1.34315 0 3V21.8571C0 23.514 1.34315 24.8571 3 24.8571H13.3336C12.9464 24.2379 12.634 23.567 12.4092 22.8571H3C2.44772 22.8571 2 22.4094 2 21.8571V3C2 2.44772 2.44772 2 3 2Z" fill="#A5A7A9").fill
						circle(cx="20.8036" cy="20.1964" r="7.80357" stroke="#A5A7A9" stroke-width="2").stroke
						rect(x="17.6072" y="5.17847" width="1.7" height="13.4643" rx="0.85" transform="rotate(90 17.6072 5.17847)" fill="#A5A7A9").fill
						rect(x="11.3928" y="13" width="1.7" height="7.25" rx="0.85" transform="rotate(90 11.3928 13)" fill="#A5A7A9").fill
						rect(x="14.5" y="9" width="1.7" height="10.3571" rx="0.85" transform="rotate(90 14.5 9)" fill="#A5A7A9").fill
						rect(x="19.79" y="15.5" width="2" height="8" rx="1" fill="#A5A7A9").fill
						rect(x="23.6001" y="19.5696" width="2" height="6" rx="1" transform="rotate(45 23.6001 19.5696)" fill="#A5A7A9").fill
						rect(x="16.5" y="20.9839" width="2" height="6" rx="1" transform="rotate(-45 16.5 20.9839)" fill="#A5A7A9").fill
					.content-heading-btn-text Загрузить xls
			.content-heading-info 
					.content-heading-info-elem 
						span.content-heading-info-text Скидка: 
						span.content-heading-info-value Не распостроняется
					.content-heading-info-elem 
						span.content-heading-info-text Статус товара: 
						span.content-heading-info-value Outlet
	
		.content-wrap.content-product-wrap
			.content-wrap-elem
				.product-search.content-elem
					.product-search-top
						.product-search-top-elem 
							select.custom-select
								option(value="0" disabled selected) Артикул
								option(value="1") Артикул № 1
								option(value="2") Артикул № 2
								option(value="3") Артикул № 3
						.product-search-top-elem
							.product-search-text Содержит: 
							select.custom-select
								option(value="0" selected) КОС 598
								option(value="1") КОС 600
								option(value="2") КОС 358
								option(value="3") КОС 700
							.product-search-clear
					.product-search-bottom
						.table.product-search-table
							.table-row.table-heading
								.table-elem Артикул
								.table-elem Наименование
							a(href="").table-row 
								.table-elem КОС598
								.table-elem Костюм “Финикс” бежевый/олива
							a(href="").table-row 
								.table-elem КОС598
								.table-elem Костюм “Финикс” бежевый/т. бежевый NEW
							a(href="").table-row 
								.table-elem КОС598
								.table-elem Костюм “Финикс” св.серый/серый
							a(href="").table-row 
								.table-elem КОС598
								.table-elem Костюм “Финикс” бежевый/т. серый NEW
				
			.content-wrap-elem
				.content-elem
					.table.order-amount-table
						.table-row.table-heading
							.table-elem Характеристика
							.table-elem Остаток
							.table-elem Цена
							.table-elem Количество
							.table-elem Пп / Дата
						.table-wrap
							.table-row
								.table-elem р. 48-50. рост 5/6
								.table-elem 5.000
								.table-elem 1 000 ₽
								.table-elem.order-amount-table-value
									.order-amount-table-input-wrap
										input(type="text" value="0").order-amount-table-input
										.order-amount-table-input-arrow.plus
											svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
												path(d="M3.71679 0.986589C4.11715 0.482264 4.88285 0.482265 5.28321 0.986589L7.9757 4.37825C8.49596 5.0336 8.02925 6 7.19249 6L1.80751 6C0.970754 6 0.504041 5.0336 1.0243 4.37824L3.71679 0.986589Z" fill="#53565B")

										.order-amount-table-input-arrow.minus
											svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
												path(d="M5.28321 5.01341C4.88285 5.51774 4.11715 5.51774 3.71679 5.01341L1.0243 1.62176C0.504042 0.966397 0.970754 -1.64313e-07 1.80751 -2.37464e-07L7.19249 -7.08234e-07C8.02925 -7.81386e-07 8.49596 0.966397 7.9757 1.62176L5.28321 5.01341Z" fill="#53565B")
								
									button.order-amount-table-btn
										svg(width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-btn-img
											path(fill-rule="evenodd" clip-rule="evenodd" d="M13.7952 0.265077C13.4418 -0.0883587 12.8687 -0.0883589 12.5153 0.265076L5.41912 7.36126L1.54498 3.48711C1.19154 3.13368 0.618512 3.13368 0.265076 3.48711C-0.0883589 3.84055 -0.0883588 4.41358 0.265077 4.76702L4.75226 9.2542C4.88175 9.38369 5.04072 9.46574 5.20757 9.50034C5.50792 9.57832 5.84052 9.49967 6.0758 9.26438L13.7952 1.54498C14.1486 1.19154 14.1486 0.618512 13.7952 0.265077Z" fill="#C4C4C4")
								.table-elem 5.000 / 02.02.20
							.table-row
								.table-elem р. 48-50. рост 5/6
								.table-elem 5.000
								.table-elem 1 000 ₽
								.table-elem.order-amount-table-value
									.order-amount-table-input-wrap
										input(type="text" value="0").order-amount-table-input
										.order-amount-table-input-arrow.plus
											svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
												path(d="M3.71679 0.986589C4.11715 0.482264 4.88285 0.482265 5.28321 0.986589L7.9757 4.37825C8.49596 5.0336 8.02925 6 7.19249 6L1.80751 6C0.970754 6 0.504041 5.0336 1.0243 4.37824L3.71679 0.986589Z" fill="#53565B")

										.order-amount-table-input-arrow.minus
											svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
												path(d="M5.28321 5.01341C4.88285 5.51774 4.11715 5.51774 3.71679 5.01341L1.0243 1.62176C0.504042 0.966397 0.970754 -1.64313e-07 1.80751 -2.37464e-07L7.19249 -7.08234e-07C8.02925 -7.81386e-07 8.49596 0.966397 7.9757 1.62176L5.28321 5.01341Z" fill="#53565B")
								
									button.order-amount-table-btn
										svg(width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-btn-img
											path(fill-rule="evenodd" clip-rule="evenodd" d="M13.7952 0.265077C13.4418 -0.0883587 12.8687 -0.0883589 12.5153 0.265076L5.41912 7.36126L1.54498 3.48711C1.19154 3.13368 0.618512 3.13368 0.265076 3.48711C-0.0883589 3.84055 -0.0883588 4.41358 0.265077 4.76702L4.75226 9.2542C4.88175 9.38369 5.04072 9.46574 5.20757 9.50034C5.50792 9.57832 5.84052 9.49967 6.0758 9.26438L13.7952 1.54498C14.1486 1.19154 14.1486 0.618512 13.7952 0.265077Z" fill="#C4C4C4")
								.table-elem 5.000 / 02.02.20
							.table-row
								.table-elem р. 48-50. рост 5/6
								.table-elem 58.000
								.table-elem 1 000 ₽
								.table-elem.order-amount-table-value
									.order-amount-table-input-wrap
										input(type="text" value="0").order-amount-table-input
										.order-amount-table-input-arrow.plus
											svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
												path(d="M3.71679 0.986589C4.11715 0.482264 4.88285 0.482265 5.28321 0.986589L7.9757 4.37825C8.49596 5.0336 8.02925 6 7.19249 6L1.80751 6C0.970754 6 0.504041 5.0336 1.0243 4.37824L3.71679 0.986589Z" fill="#53565B")

										.order-amount-table-input-arrow.minus
											svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
												path(d="M5.28321 5.01341C4.88285 5.51774 4.11715 5.51774 3.71679 5.01341L1.0243 1.62176C0.504042 0.966397 0.970754 -1.64313e-07 1.80751 -2.37464e-07L7.19249 -7.08234e-07C8.02925 -7.81386e-07 8.49596 0.966397 7.9757 1.62176L5.28321 5.01341Z" fill="#53565B")
								
									button.order-amount-table-btn
										svg(width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-btn-img
											path(fill-rule="evenodd" clip-rule="evenodd" d="M13.7952 0.265077C13.4418 -0.0883587 12.8687 -0.0883589 12.5153 0.265076L5.41912 7.36126L1.54498 3.48711C1.19154 3.13368 0.618512 3.13368 0.265076 3.48711C-0.0883589 3.84055 -0.0883588 4.41358 0.265077 4.76702L4.75226 9.2542C4.88175 9.38369 5.04072 9.46574 5.20757 9.50034C5.50792 9.57832 5.84052 9.49967 6.0758 9.26438L13.7952 1.54498C14.1486 1.19154 14.1486 0.618512 13.7952 0.265077Z" fill="#C4C4C4")
								.table-elem 58.000 / 02.02.20
							.table-row
								.table-elem р. 48-50. рост 5/6
								.table-elem 5.000
								.table-elem 1 000 ₽
								.table-elem.order-amount-table-value
									.order-amount-table-input-wrap
										input(type="text" value="0").order-amount-table-input
										.order-amount-table-input-arrow.plus
											svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
												path(d="M3.71679 0.986589C4.11715 0.482264 4.88285 0.482265 5.28321 0.986589L7.9757 4.37825C8.49596 5.0336 8.02925 6 7.19249 6L1.80751 6C0.970754 6 0.504041 5.0336 1.0243 4.37824L3.71679 0.986589Z" fill="#53565B")

										.order-amount-table-input-arrow.minus
											svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
												path(d="M5.28321 5.01341C4.88285 5.51774 4.11715 5.51774 3.71679 5.01341L1.0243 1.62176C0.504042 0.966397 0.970754 -1.64313e-07 1.80751 -2.37464e-07L7.19249 -7.08234e-07C8.02925 -7.81386e-07 8.49596 0.966397 7.9757 1.62176L5.28321 5.01341Z" fill="#53565B")
								
									button.order-amount-table-btn
										svg(width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-btn-img
											path(fill-rule="evenodd" clip-rule="evenodd" d="M13.7952 0.265077C13.4418 -0.0883587 12.8687 -0.0883589 12.5153 0.265076L5.41912 7.36126L1.54498 3.48711C1.19154 3.13368 0.618512 3.13368 0.265076 3.48711C-0.0883589 3.84055 -0.0883588 4.41358 0.265077 4.76702L4.75226 9.2542C4.88175 9.38369 5.04072 9.46574 5.20757 9.50034C5.50792 9.57832 5.84052 9.49967 6.0758 9.26438L13.7952 1.54498C14.1486 1.19154 14.1486 0.618512 13.7952 0.265077Z" fill="#C4C4C4")
								.table-elem 5.000 / 02.02.20
							.table-row
								.table-elem р. 48-50. рост 5/6
								.table-elem 5.000
								.table-elem 1 000 ₽
								.table-elem.order-amount-table-value
									.order-amount-table-input-wrap
										input(type="text" value="0").order-amount-table-input
										.order-amount-table-input-arrow.plus
											svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
												path(d="M3.71679 0.986589C4.11715 0.482264 4.88285 0.482265 5.28321 0.986589L7.9757 4.37825C8.49596 5.0336 8.02925 6 7.19249 6L1.80751 6C0.970754 6 0.504041 5.0336 1.0243 4.37824L3.71679 0.986589Z" fill="#53565B")

										.order-amount-table-input-arrow.minus
											svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
												path(d="M5.28321 5.01341C4.88285 5.51774 4.11715 5.51774 3.71679 5.01341L1.0243 1.62176C0.504042 0.966397 0.970754 -1.64313e-07 1.80751 -2.37464e-07L7.19249 -7.08234e-07C8.02925 -7.81386e-07 8.49596 0.966397 7.9757 1.62176L5.28321 5.01341Z" fill="#53565B")
								
									button.order-amount-table-btn
										svg(width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-btn-img
											path(fill-rule="evenodd" clip-rule="evenodd" d="M13.7952 0.265077C13.4418 -0.0883587 12.8687 -0.0883589 12.5153 0.265076L5.41912 7.36126L1.54498 3.48711C1.19154 3.13368 0.618512 3.13368 0.265076 3.48711C-0.0883589 3.84055 -0.0883588 4.41358 0.265077 4.76702L4.75226 9.2542C4.88175 9.38369 5.04072 9.46574 5.20757 9.50034C5.50792 9.57832 5.84052 9.49967 6.0758 9.26438L13.7952 1.54498C14.1486 1.19154 14.1486 0.618512 13.7952 0.265077Z" fill="#C4C4C4")
								.table-elem 5.000 / 02.02.20
							.table-row
								.table-elem р. 48-50. рост 5/6
								.table-elem 5.000
								.table-elem 1 000 ₽
								.table-elem.order-amount-table-value
									.order-amount-table-input-wrap
										input(type="text" value="0").order-amount-table-input
										.order-amount-table-input-arrow.plus
											svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
												path(d="M3.71679 0.986589C4.11715 0.482264 4.88285 0.482265 5.28321 0.986589L7.9757 4.37825C8.49596 5.0336 8.02925 6 7.19249 6L1.80751 6C0.970754 6 0.504041 5.0336 1.0243 4.37824L3.71679 0.986589Z" fill="#53565B")

										.order-amount-table-input-arrow.minus
											svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
												path(d="M5.28321 5.01341C4.88285 5.51774 4.11715 5.51774 3.71679 5.01341L1.0243 1.62176C0.504042 0.966397 0.970754 -1.64313e-07 1.80751 -2.37464e-07L7.19249 -7.08234e-07C8.02925 -7.81386e-07 8.49596 0.966397 7.9757 1.62176L5.28321 5.01341Z" fill="#53565B")
								
									button.order-amount-table-btn
										svg(width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-btn-img
											path(fill-rule="evenodd" clip-rule="evenodd" d="M13.7952 0.265077C13.4418 -0.0883587 12.8687 -0.0883589 12.5153 0.265076L5.41912 7.36126L1.54498 3.48711C1.19154 3.13368 0.618512 3.13368 0.265076 3.48711C-0.0883589 3.84055 -0.0883588 4.41358 0.265077 4.76702L4.75226 9.2542C4.88175 9.38369 5.04072 9.46574 5.20757 9.50034C5.50792 9.57832 5.84052 9.49967 6.0758 9.26438L13.7952 1.54498C14.1486 1.19154 14.1486 0.618512 13.7952 0.265077Z" fill="#C4C4C4")
								.table-elem 5.000 / 02.02.20
							.table-row
								.table-elem р. 48-50. рост 5/6
								.table-elem 5.000
								.table-elem 1 000 ₽
								.table-elem.order-amount-table-value
									.order-amount-table-input-wrap
										input(type="text" value="0").order-amount-table-input
										.order-amount-table-input-arrow.plus
											svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
												path(d="M3.71679 0.986589C4.11715 0.482264 4.88285 0.482265 5.28321 0.986589L7.9757 4.37825C8.49596 5.0336 8.02925 6 7.19249 6L1.80751 6C0.970754 6 0.504041 5.0336 1.0243 4.37824L3.71679 0.986589Z" fill="#53565B")

										.order-amount-table-input-arrow.minus
											svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
												path(d="M5.28321 5.01341C4.88285 5.51774 4.11715 5.51774 3.71679 5.01341L1.0243 1.62176C0.504042 0.966397 0.970754 -1.64313e-07 1.80751 -2.37464e-07L7.19249 -7.08234e-07C8.02925 -7.81386e-07 8.49596 0.966397 7.9757 1.62176L5.28321 5.01341Z" fill="#53565B")
								
									button.order-amount-table-btn
										svg(width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-btn-img
											path(fill-rule="evenodd" clip-rule="evenodd" d="M13.7952 0.265077C13.4418 -0.0883587 12.8687 -0.0883589 12.5153 0.265076L5.41912 7.36126L1.54498 3.48711C1.19154 3.13368 0.618512 3.13368 0.265076 3.48711C-0.0883589 3.84055 -0.0883588 4.41358 0.265077 4.76702L4.75226 9.2542C4.88175 9.38369 5.04072 9.46574 5.20757 9.50034C5.50792 9.57832 5.84052 9.49967 6.0758 9.26438L13.7952 1.54498C14.1486 1.19154 14.1486 0.618512 13.7952 0.265077Z" fill="#C4C4C4")
								.table-elem 5.000 / 02.02.20
							.table-row
								.table-elem р. 48-50. рост 5/6
								.table-elem 5.000
								.table-elem 1 000 ₽
								.table-elem.order-amount-table-value
									.order-amount-table-input-wrap
										input(type="text" value="0").order-amount-table-input
										.order-amount-table-input-arrow.plus
											svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
												path(d="M3.71679 0.986589C4.11715 0.482264 4.88285 0.482265 5.28321 0.986589L7.9757 4.37825C8.49596 5.0336 8.02925 6 7.19249 6L1.80751 6C0.970754 6 0.504041 5.0336 1.0243 4.37824L3.71679 0.986589Z" fill="#53565B")

										.order-amount-table-input-arrow.minus
											svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
												path(d="M5.28321 5.01341C4.88285 5.51774 4.11715 5.51774 3.71679 5.01341L1.0243 1.62176C0.504042 0.966397 0.970754 -1.64313e-07 1.80751 -2.37464e-07L7.19249 -7.08234e-07C8.02925 -7.81386e-07 8.49596 0.966397 7.9757 1.62176L5.28321 5.01341Z" fill="#53565B")
								
									button.order-amount-table-btn
										svg(width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-btn-img
											path(fill-rule="evenodd" clip-rule="evenodd" d="M13.7952 0.265077C13.4418 -0.0883587 12.8687 -0.0883589 12.5153 0.265076L5.41912 7.36126L1.54498 3.48711C1.19154 3.13368 0.618512 3.13368 0.265076 3.48711C-0.0883589 3.84055 -0.0883588 4.41358 0.265077 4.76702L4.75226 9.2542C4.88175 9.38369 5.04072 9.46574 5.20757 9.50034C5.50792 9.57832 5.84052 9.49967 6.0758 9.26438L13.7952 1.54498C14.1486 1.19154 14.1486 0.618512 13.7952 0.265077Z" fill="#C4C4C4")
								.table-elem 5.000 / 02.02.20
							
					.order-amount-more
						span.order-amount-more-text + Добавить 
						span.order-amount-more-value (2)
		
		.content-heading-wrap.proudct-heading-wrap
			.content-heading-wrap-elem
				.content-heading Заказ № 2435
			.content-heading-wrap-elem
				.content-heading-price 
					.content-heading-price-text Сумма заказа: 
					.content-heading-price-value 547 300 ₽
			.content-heading-info 
					.content-heading-info-elem 
						span.content-heading-info-text Колечество едениц: 
						span.content-heading-info-value 120
					.content-heading-info-elem 
						span.content-heading-info-text Общий вес: 
						span.content-heading-info-value 25 кг.
					.content-heading-info-elem 
						span.content-heading-info-text Общий объем: 
						span.content-heading-info-value 23 м.куб.
		
		.content-wrap.content-order-wrap
			.content-wrap-elem
				.order-list.content-elem
					.order-list-top
						.order-list-top-elem
							.product-search-text Контрагент:
							select.custom-select
								option(value="0" selected) ООО “Тристан”
								option(value="1") ООО “Тристан #2”
								option(value="2") ООО “Тристан #3”
								option(value="3") ООО “Тристан #4”
						.order-list-top-elem
							button.order-list-btn Добавить печатный каталог
					.order-list-bottom
						.order-list-row.order-list-heading
							.order-list-elem №
							.order-list-elem Наименование
							.order-list-elem Цена
							.order-list-elem Кол-во
							.order-list-elem Стоимость
							.order-list-elem Комп.
						.order-list-item
							.order-list-row.order-list-main-row
								.order-list-elem 
									| 1
									.table-arrow
								.order-list-elem КОС598 Костюм “Финикс” бежевый/т. бежевый NEW
								.order-list-elem 18 300 ₽
								.order-list-elem 4
								.order-list-elem 181 300 ₽
								.order-list-elem.error - 57
								.order-list-elem-delete
									svg(width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg").order-list-elem-delete-img
										rect(x="0.250031" y="2.07935" width="2.25351" height="22.5351" rx="1.12676" transform="rotate(-45 0.250031 2.07935)" fill="#A5A7A9")
										rect(width="2.25351" height="22.5351" rx="1.12676" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 17.5282 2.07935)" fill="#A5A7A9")
							.order-list-sublist
								.order-list-row
									.order-list-elem 
									.order-list-elem р. 48-50. рост 5/6
									.order-list-elem 1 000 ₽
									.order-list-elem 
										.order-amount-table-input-wrap
											input(type="text" value="0").order-amount-table-input
											.order-amount-table-input-arrow.plus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M3.71679 0.986589C4.11715 0.482264 4.88285 0.482265 5.28321 0.986589L7.9757 4.37825C8.49596 5.0336 8.02925 6 7.19249 6L1.80751 6C0.970754 6 0.504041 5.0336 1.0243 4.37824L3.71679 0.986589Z" fill="#53565B")

											.order-amount-table-input-arrow.minus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M5.28321 5.01341C4.88285 5.51774 4.11715 5.51774 3.71679 5.01341L1.0243 1.62176C0.504042 0.966397 0.970754 -1.64313e-07 1.80751 -2.37464e-07L7.19249 -7.08234e-07C8.02925 -7.81386e-07 8.49596 0.966397 7.9757 1.62176L5.28321 5.01341Z" fill="#53565B")
									.order-list-elem 1 000 ₽
									.order-list-elem Укомп.
									.order-list-elem-delete
										svg(width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg").order-list-elem-delete-img
											rect(x="0.250031" y="2.07935" width="2.25351" height="22.5351" rx="1.12676" transform="rotate(-45 0.250031 2.07935)" fill="#A5A7A9")
											rect(width="2.25351" height="22.5351" rx="1.12676" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 17.5282 2.07935)" fill="#A5A7A9")
								.order-list-row
									.order-list-elem 
									.order-list-elem р. 48-50. рост 5/6
									.order-list-elem 1 000 ₽
									.order-list-elem 
										.order-amount-table-input-wrap
											input(type="text" value="0").order-amount-table-input
											.order-amount-table-input-arrow.plus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M3.71679 0.986589C4.11715 0.482264 4.88285 0.482265 5.28321 0.986589L7.9757 4.37825C8.49596 5.0336 8.02925 6 7.19249 6L1.80751 6C0.970754 6 0.504041 5.0336 1.0243 4.37824L3.71679 0.986589Z" fill="#53565B")

											.order-amount-table-input-arrow.minus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M5.28321 5.01341C4.88285 5.51774 4.11715 5.51774 3.71679 5.01341L1.0243 1.62176C0.504042 0.966397 0.970754 -1.64313e-07 1.80751 -2.37464e-07L7.19249 -7.08234e-07C8.02925 -7.81386e-07 8.49596 0.966397 7.9757 1.62176L5.28321 5.01341Z" fill="#53565B")
									.order-list-elem 1 000 ₽
									.order-list-elem.error - 57
									.order-list-elem-delete
										svg(width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg").order-list-elem-delete-img
											rect(x="0.250031" y="2.07935" width="2.25351" height="22.5351" rx="1.12676" transform="rotate(-45 0.250031 2.07935)" fill="#A5A7A9")
											rect(width="2.25351" height="22.5351" rx="1.12676" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 17.5282 2.07935)" fill="#A5A7A9")
								.order-list-row
									.order-list-elem 
									.order-list-elem р. 48-50. рост 5/6
									.order-list-elem 1 000 ₽
									.order-list-elem 
										.order-amount-table-input-wrap
											input(type="text" value="0").order-amount-table-input
											.order-amount-table-input-arrow.plus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M3.71679 0.986589C4.11715 0.482264 4.88285 0.482265 5.28321 0.986589L7.9757 4.37825C8.49596 5.0336 8.02925 6 7.19249 6L1.80751 6C0.970754 6 0.504041 5.0336 1.0243 4.37824L3.71679 0.986589Z" fill="#53565B")

											.order-amount-table-input-arrow.minus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M5.28321 5.01341C4.88285 5.51774 4.11715 5.51774 3.71679 5.01341L1.0243 1.62176C0.504042 0.966397 0.970754 -1.64313e-07 1.80751 -2.37464e-07L7.19249 -7.08234e-07C8.02925 -7.81386e-07 8.49596 0.966397 7.9757 1.62176L5.28321 5.01341Z" fill="#53565B")
									.order-list-elem 1 000 ₽
									.order-list-elem Укомп.
									.order-list-elem-delete
										svg(width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg").order-list-elem-delete-img
											rect(x="0.250031" y="2.07935" width="2.25351" height="22.5351" rx="1.12676" transform="rotate(-45 0.250031 2.07935)" fill="#A5A7A9")
											rect(width="2.25351" height="22.5351" rx="1.12676" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 17.5282 2.07935)" fill="#A5A7A9")
								.order-list-row
									.order-list-elem 
									.order-list-elem р. 48-50. рост 5/6
									.order-list-elem 1 000 ₽
									.order-list-elem 
										.order-amount-table-input-wrap
											input(type="text" value="0").order-amount-table-input
											.order-amount-table-input-arrow.plus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M3.71679 0.986589C4.11715 0.482264 4.88285 0.482265 5.28321 0.986589L7.9757 4.37825C8.49596 5.0336 8.02925 6 7.19249 6L1.80751 6C0.970754 6 0.504041 5.0336 1.0243 4.37824L3.71679 0.986589Z" fill="#53565B")

											.order-amount-table-input-arrow.minus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M5.28321 5.01341C4.88285 5.51774 4.11715 5.51774 3.71679 5.01341L1.0243 1.62176C0.504042 0.966397 0.970754 -1.64313e-07 1.80751 -2.37464e-07L7.19249 -7.08234e-07C8.02925 -7.81386e-07 8.49596 0.966397 7.9757 1.62176L5.28321 5.01341Z" fill="#53565B")
									.order-list-elem 1 000 ₽
									.order-list-elem Укомп.
									.order-list-elem-delete
										svg(width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg").order-list-elem-delete-img
											rect(x="0.250031" y="2.07935" width="2.25351" height="22.5351" rx="1.12676" transform="rotate(-45 0.250031 2.07935)" fill="#A5A7A9")
											rect(width="2.25351" height="22.5351" rx="1.12676" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 17.5282 2.07935)" fill="#A5A7A9")
						.order-list-item
							.order-list-row.order-list-main-row
								.order-list-elem 
									| 2
									.table-arrow
								.order-list-elem КОС598 Костюм “Финикс” бежевый/т. бежевый NEW
								.order-list-elem 18 300 ₽
								.order-list-elem 4
								.order-list-elem 181 300 ₽
								.order-list-elem Укомп.
								.order-list-elem-delete
									svg(width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg").order-list-elem-delete-img
										rect(x="0.250031" y="2.07935" width="2.25351" height="22.5351" rx="1.12676" transform="rotate(-45 0.250031 2.07935)" fill="#A5A7A9")
										rect(width="2.25351" height="22.5351" rx="1.12676" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 17.5282 2.07935)" fill="#A5A7A9")
							.order-list-sublist
								.order-list-row
									.order-list-elem 
									.order-list-elem р. 48-50. рост 5/6
									.order-list-elem 1 000 ₽
									.order-list-elem 
										.order-amount-table-input-wrap
											input(type="text" value="0").order-amount-table-input
											.order-amount-table-input-arrow.plus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M3.71679 0.986589C4.11715 0.482264 4.88285 0.482265 5.28321 0.986589L7.9757 4.37825C8.49596 5.0336 8.02925 6 7.19249 6L1.80751 6C0.970754 6 0.504041 5.0336 1.0243 4.37824L3.71679 0.986589Z" fill="#53565B")

											.order-amount-table-input-arrow.minus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M5.28321 5.01341C4.88285 5.51774 4.11715 5.51774 3.71679 5.01341L1.0243 1.62176C0.504042 0.966397 0.970754 -1.64313e-07 1.80751 -2.37464e-07L7.19249 -7.08234e-07C8.02925 -7.81386e-07 8.49596 0.966397 7.9757 1.62176L5.28321 5.01341Z" fill="#53565B")
									.order-list-elem 1 000 ₽
									.order-list-elem.error - 57
									.order-list-elem-delete
										svg(width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg").order-list-elem-delete-img
											rect(x="0.250031" y="2.07935" width="2.25351" height="22.5351" rx="1.12676" transform="rotate(-45 0.250031 2.07935)" fill="#A5A7A9")
											rect(width="2.25351" height="22.5351" rx="1.12676" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 17.5282 2.07935)" fill="#A5A7A9")
								.order-list-row
									.order-list-elem 
									.order-list-elem р. 48-50. рост 5/6
									.order-list-elem 1 000 ₽
									.order-list-elem 
										.order-amount-table-input-wrap
											input(type="text" value="0").order-amount-table-input
											.order-amount-table-input-arrow.plus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M3.71679 0.986589C4.11715 0.482264 4.88285 0.482265 5.28321 0.986589L7.9757 4.37825C8.49596 5.0336 8.02925 6 7.19249 6L1.80751 6C0.970754 6 0.504041 5.0336 1.0243 4.37824L3.71679 0.986589Z" fill="#53565B")

											.order-amount-table-input-arrow.minus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M5.28321 5.01341C4.88285 5.51774 4.11715 5.51774 3.71679 5.01341L1.0243 1.62176C0.504042 0.966397 0.970754 -1.64313e-07 1.80751 -2.37464e-07L7.19249 -7.08234e-07C8.02925 -7.81386e-07 8.49596 0.966397 7.9757 1.62176L5.28321 5.01341Z" fill="#53565B")
									.order-list-elem 1 000 ₽
									.order-list-elem Укомп.
									.order-list-elem-delete
										svg(width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg").order-list-elem-delete-img
											rect(x="0.250031" y="2.07935" width="2.25351" height="22.5351" rx="1.12676" transform="rotate(-45 0.250031 2.07935)" fill="#A5A7A9")
											rect(width="2.25351" height="22.5351" rx="1.12676" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 17.5282 2.07935)" fill="#A5A7A9")
								.order-list-row
									.order-list-elem 
									.order-list-elem р. 48-50. рост 5/6
									.order-list-elem 1 000 ₽
									.order-list-elem 
										.order-amount-table-input-wrap
											input(type="text" value="0").order-amount-table-input
											.order-amount-table-input-arrow.plus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M3.71679 0.986589C4.11715 0.482264 4.88285 0.482265 5.28321 0.986589L7.9757 4.37825C8.49596 5.0336 8.02925 6 7.19249 6L1.80751 6C0.970754 6 0.504041 5.0336 1.0243 4.37824L3.71679 0.986589Z" fill="#53565B")

											.order-amount-table-input-arrow.minus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M5.28321 5.01341C4.88285 5.51774 4.11715 5.51774 3.71679 5.01341L1.0243 1.62176C0.504042 0.966397 0.970754 -1.64313e-07 1.80751 -2.37464e-07L7.19249 -7.08234e-07C8.02925 -7.81386e-07 8.49596 0.966397 7.9757 1.62176L5.28321 5.01341Z" fill="#53565B")
									.order-list-elem 1 000 ₽
									.order-list-elem Укомп.
									.order-list-elem-delete
										svg(width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg").order-list-elem-delete-img
											rect(x="0.250031" y="2.07935" width="2.25351" height="22.5351" rx="1.12676" transform="rotate(-45 0.250031 2.07935)" fill="#A5A7A9")
											rect(width="2.25351" height="22.5351" rx="1.12676" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 17.5282 2.07935)" fill="#A5A7A9")
								.order-list-row
									.order-list-elem 
									.order-list-elem р. 48-50. рост 5/6
									.order-list-elem 1 000 ₽
									.order-list-elem 
										.order-amount-table-input-wrap
											input(type="text" value="0").order-amount-table-input
											.order-amount-table-input-arrow.plus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M3.71679 0.986589C4.11715 0.482264 4.88285 0.482265 5.28321 0.986589L7.9757 4.37825C8.49596 5.0336 8.02925 6 7.19249 6L1.80751 6C0.970754 6 0.504041 5.0336 1.0243 4.37824L3.71679 0.986589Z" fill="#53565B")

											.order-amount-table-input-arrow.minus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M5.28321 5.01341C4.88285 5.51774 4.11715 5.51774 3.71679 5.01341L1.0243 1.62176C0.504042 0.966397 0.970754 -1.64313e-07 1.80751 -2.37464e-07L7.19249 -7.08234e-07C8.02925 -7.81386e-07 8.49596 0.966397 7.9757 1.62176L5.28321 5.01341Z" fill="#53565B")
									.order-list-elem 1 000 ₽
									.order-list-elem Укомп.
									.order-list-elem-delete
										svg(width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg").order-list-elem-delete-img
											rect(x="0.250031" y="2.07935" width="2.25351" height="22.5351" rx="1.12676" transform="rotate(-45 0.250031 2.07935)" fill="#A5A7A9")
											rect(width="2.25351" height="22.5351" rx="1.12676" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 17.5282 2.07935)" fill="#A5A7A9")
						.order-list-item
							.order-list-row.order-list-main-row
								.order-list-elem 
									| 3
									.table-arrow
								.order-list-elem КОС598 Костюм “Финикс” бежевый/т. бежевый NEW
								.order-list-elem 18 300 ₽
								.order-list-elem 4
								.order-list-elem 181 300 ₽
								.order-list-elem Укомп.
								.order-list-elem-delete
									svg(width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg").order-list-elem-delete-img
										rect(x="0.250031" y="2.07935" width="2.25351" height="22.5351" rx="1.12676" transform="rotate(-45 0.250031 2.07935)" fill="#A5A7A9")
										rect(width="2.25351" height="22.5351" rx="1.12676" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 17.5282 2.07935)" fill="#A5A7A9")
							.order-list-sublist
								.order-list-row
									.order-list-elem 
									.order-list-elem р. 48-50. рост 5/6
									.order-list-elem 1 000 ₽
									.order-list-elem 
										.order-amount-table-input-wrap
											input(type="text" value="0").order-amount-table-input
											.order-amount-table-input-arrow.plus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M3.71679 0.986589C4.11715 0.482264 4.88285 0.482265 5.28321 0.986589L7.9757 4.37825C8.49596 5.0336 8.02925 6 7.19249 6L1.80751 6C0.970754 6 0.504041 5.0336 1.0243 4.37824L3.71679 0.986589Z" fill="#53565B")

											.order-amount-table-input-arrow.minus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M5.28321 5.01341C4.88285 5.51774 4.11715 5.51774 3.71679 5.01341L1.0243 1.62176C0.504042 0.966397 0.970754 -1.64313e-07 1.80751 -2.37464e-07L7.19249 -7.08234e-07C8.02925 -7.81386e-07 8.49596 0.966397 7.9757 1.62176L5.28321 5.01341Z" fill="#53565B")
									.order-list-elem 1 000 ₽
									.order-list-elem Укомп.
									.order-list-elem-delete
										svg(width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg").order-list-elem-delete-img
											rect(x="0.250031" y="2.07935" width="2.25351" height="22.5351" rx="1.12676" transform="rotate(-45 0.250031 2.07935)" fill="#A5A7A9")
											rect(width="2.25351" height="22.5351" rx="1.12676" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 17.5282 2.07935)" fill="#A5A7A9")
								.order-list-row
									.order-list-elem 
									.order-list-elem р. 48-50. рост 5/6
									.order-list-elem 1 000 ₽
									.order-list-elem 
										.order-amount-table-input-wrap
											input(type="text" value="0").order-amount-table-input
											.order-amount-table-input-arrow.plus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M3.71679 0.986589C4.11715 0.482264 4.88285 0.482265 5.28321 0.986589L7.9757 4.37825C8.49596 5.0336 8.02925 6 7.19249 6L1.80751 6C0.970754 6 0.504041 5.0336 1.0243 4.37824L3.71679 0.986589Z" fill="#53565B")

											.order-amount-table-input-arrow.minus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M5.28321 5.01341C4.88285 5.51774 4.11715 5.51774 3.71679 5.01341L1.0243 1.62176C0.504042 0.966397 0.970754 -1.64313e-07 1.80751 -2.37464e-07L7.19249 -7.08234e-07C8.02925 -7.81386e-07 8.49596 0.966397 7.9757 1.62176L5.28321 5.01341Z" fill="#53565B")
									.order-list-elem 1 000 ₽
									.order-list-elem.error - 57
									.order-list-elem-delete
										svg(width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg").order-list-elem-delete-img
											rect(x="0.250031" y="2.07935" width="2.25351" height="22.5351" rx="1.12676" transform="rotate(-45 0.250031 2.07935)" fill="#A5A7A9")
											rect(width="2.25351" height="22.5351" rx="1.12676" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 17.5282 2.07935)" fill="#A5A7A9")
								.order-list-row
									.order-list-elem 
									.order-list-elem р. 48-50. рост 5/6
									.order-list-elem 1 000 ₽
									.order-list-elem 
										.order-amount-table-input-wrap
											input(type="text" value="0").order-amount-table-input
											.order-amount-table-input-arrow.plus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M3.71679 0.986589C4.11715 0.482264 4.88285 0.482265 5.28321 0.986589L7.9757 4.37825C8.49596 5.0336 8.02925 6 7.19249 6L1.80751 6C0.970754 6 0.504041 5.0336 1.0243 4.37824L3.71679 0.986589Z" fill="#53565B")

											.order-amount-table-input-arrow.minus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M5.28321 5.01341C4.88285 5.51774 4.11715 5.51774 3.71679 5.01341L1.0243 1.62176C0.504042 0.966397 0.970754 -1.64313e-07 1.80751 -2.37464e-07L7.19249 -7.08234e-07C8.02925 -7.81386e-07 8.49596 0.966397 7.9757 1.62176L5.28321 5.01341Z" fill="#53565B")
									.order-list-elem 1 000 ₽
									.order-list-elem Укомп.
									.order-list-elem-delete
										svg(width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg").order-list-elem-delete-img
											rect(x="0.250031" y="2.07935" width="2.25351" height="22.5351" rx="1.12676" transform="rotate(-45 0.250031 2.07935)" fill="#A5A7A9")
											rect(width="2.25351" height="22.5351" rx="1.12676" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 17.5282 2.07935)" fill="#A5A7A9")
								.order-list-row
									.order-list-elem 
									.order-list-elem р. 48-50. рост 5/6
									.order-list-elem 1 000 ₽
									.order-list-elem 
										.order-amount-table-input-wrap
											input(type="text" value="0").order-amount-table-input
											.order-amount-table-input-arrow.plus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M3.71679 0.986589C4.11715 0.482264 4.88285 0.482265 5.28321 0.986589L7.9757 4.37825C8.49596 5.0336 8.02925 6 7.19249 6L1.80751 6C0.970754 6 0.504041 5.0336 1.0243 4.37824L3.71679 0.986589Z" fill="#53565B")

											.order-amount-table-input-arrow.minus
												svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg").order-amount-table-input-arrow-img
													path(d="M5.28321 5.01341C4.88285 5.51774 4.11715 5.51774 3.71679 5.01341L1.0243 1.62176C0.504042 0.966397 0.970754 -1.64313e-07 1.80751 -2.37464e-07L7.19249 -7.08234e-07C8.02925 -7.81386e-07 8.49596 0.966397 7.9757 1.62176L5.28321 5.01341Z" fill="#53565B")
									.order-list-elem 1 000 ₽
									.order-list-elem Укомп.
									.order-list-elem-delete
										svg(width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg").order-list-elem-delete-img
											rect(x="0.250031" y="2.07935" width="2.25351" height="22.5351" rx="1.12676" transform="rotate(-45 0.250031 2.07935)" fill="#A5A7A9")
											rect(width="2.25351" height="22.5351" rx="1.12676" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 17.5282 2.07935)" fill="#A5A7A9")
				.order-list-buttons
					button.order-list-submit.gradient-btn 
						.gradient-btn-text Оформить заказ

					.order-list-buttons-wrap
						.order-list-buttons-item.later
							svg(width="31" height="32" viewBox="0 0 31 32" fill="none" xmlns="http://www.w3.org/2000/svg").order-list-buttons-item-img
								path(fill-rule="evenodd" clip-rule="evenodd" d="M3 4.5H18.75C19.3023 4.5 19.75 4.94772 19.75 5.5V14.0173C20.2318 13.9356 20.727 13.8931 21.2321 13.8931C21.406 13.8931 21.5786 13.8981 21.75 13.908V5.5C21.75 3.84315 20.4069 2.5 18.75 2.5H3C1.34315 2.5 0 3.84315 0 5.5V24.3571C0 26.014 1.34315 27.3571 3 27.3571H13.762C13.3748 26.7379 13.0625 26.067 12.8377 25.3571H3C2.44772 25.3571 2 24.9094 2 24.3571V5.5C2 4.94772 2.44772 4.5 3 4.5Z" fill="#A5A7A9")
								circle(cx="21.2321" cy="22.6961" r="7.80357" stroke="#A5A7A9" stroke-width="2")
								rect(x="19.6786" y="18.0356" width="1.7" height="6.21429" rx="0.85" fill="#A5A7A9")
								rect(x="24.8571" y="22.6001" width="1.7" height="5.17857" rx="0.85" transform="rotate(90 24.8571 22.6001)" fill="#A5A7A9")
								rect(x="6" y="8" width="2" height="2" rx="1" transform="rotate(90 6 8)" fill="#A5A7A9")
								rect(x="6" y="12" width="2" height="2" rx="1" transform="rotate(90 6 12)" fill="#A5A7A9") 
								rect(x="6" y="16" width="2" height="2" rx="1" transform="rotate(90 6 16)" fill="#A5A7A9")
								rect(x="6" y="20" width="2" height="2" rx="1" transform="rotate(90 6 20)" fill="#A5A7A9")
								rect(x="10" y="8" width="2" height="2" rx="1" transform="rotate(90 10 8)" fill="#A5A7A9")
								rect(x="10" y="12" width="2" height="2" rx="1" transform="rotate(90 10 12)" fill="#A5A7A9")
								rect(x="10" y="16" width="2" height="2" rx="1" transform="rotate(90 10 16)" fill="#A5A7A9")
								rect(x="14" y="16" width="2" height="2" rx="1" transform="rotate(90 14 16)" fill="#A5A7A9")
								rect(x="10" y="20" width="2" height="2" rx="1" transform="rotate(90 10 20)" fill="#A5A7A9")
								rect(x="14" y="8" width="2" height="2" rx="1" transform="rotate(90 14 8)" fill="#A5A7A9")
								rect(x="14" y="12" width="2" height="2" rx="1" transform="rotate(90 14 12)" fill="#A5A7A9")
								rect(x="18" y="8" width="2" height="2" rx="1" transform="rotate(90 18 8)" fill="#A5A7A9")
								rect(x="18" y="12" width="2" height="2" rx="1" transform="rotate(90 18 12)" fill="#A5A7A9")
								rect(x="5" y="0.5" width="2" height="6" rx="1" fill="#A5A7A9")
								rect(x="10" y="0.5" width="2" height="6" rx="1" fill="#A5A7A9")
								rect(x="15" y="0.5" width="2" height="6" rx="1" fill="#A5A7A9")
						.order-list-buttons-item.mail
							svg(width="41" height="20" viewBox="0 0 41 20" fill="none" xmlns="http://www.w3.org/2000/svg").order-list-buttons-item-img
								path(fill-rule="evenodd" clip-rule="evenodd" d="M37.4649 2H18.5787L26.6432 9.10183L37.4649 2ZM16.7388 3.03554L14.7128 15.9112C14.6173 16.518 15.0864 17.0667 15.7007 17.0667H35.6268C36.1191 17.0667 36.5382 16.7084 36.6147 16.2221L38.5935 3.64601L27.2621 11.0824C27.2165 11.1123 27.1693 11.138 27.1209 11.1596C26.7546 11.4186 26.2422 11.4065 25.8863 11.0931L16.7789 3.07285C16.7651 3.06071 16.7517 3.04827 16.7388 3.03554ZM14.7931 2.53369C15.0227 1.07482 16.2798 0 17.7567 0H37.6829C39.5257 0 40.9328 1.6459 40.6464 3.46631L38.5904 16.533C38.3608 17.9918 37.1037 19.0667 35.6268 19.0667H15.7007C13.8579 19.0667 12.4507 17.4208 12.7371 15.6004L14.7931 2.53369Z" fill="#A5A7A9")
								rect(x="3.7" y="4" width="8" height="2" rx="1" fill="#A5A7A9")
								rect(y="8" width="11" height="2" rx="1" fill="#A5A7A9")
								rect(x="5.30003" y="12" width="5" height="2" rx="1" fill="#A5A7A9")
						.order-list-buttons-item.print
							svg(width="24" height="27" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg").order-list-buttons-item-img
								path(fill-rule="evenodd" clip-rule="evenodd" d="M21 7H3C2.44772 7 2 7.44772 2 8V17C2 17.5523 2.44772 18 3 18H21C21.5523 18 22 17.5523 22 17V8C22 7.44772 21.5523 7 21 7ZM3 5C1.34315 5 0 6.34315 0 8V17C0 18.6569 1.34315 20 3 20H21C22.6569 20 24 18.6569 24 17V8C24 6.34315 22.6569 5 21 5H3Z" fill="#A5A7A9")
								rect(x="4" y="13" width="16" height="7" fill="#1F2227").notfill
								path(fill-rule="evenodd" clip-rule="evenodd" d="M17 2H7C6.44772 2 6 2.44772 6 3V5C6 5.55228 6.44772 6 7 6H17C17.5523 6 18 5.55228 18 5V3C18 2.44772 17.5523 2 17 2ZM7 0C5.34315 0 4 1.34315 4 3V5C4 6.65685 5.34315 8 7 8H17C18.6569 8 20 6.65685 20 5V3C20 1.34315 18.6569 0 17 0H7Z" fill="#A5A7A9")
								rect(x="3" y="7" width="18" height="7" fill="#1F2227").notfill
								path(fill-rule="evenodd" clip-rule="evenodd" d="M17 15H7C6.44772 15 6 15.4477 6 16V24C6 24.5523 6.44772 25 7 25H17C17.5523 25 18 24.5523 18 24V16C18 15.4477 17.5523 15 17 15ZM7 13C5.34315 13 4 14.3431 4 16V24C4 25.6569 5.34315 27 7 27H17C18.6569 27 20 25.6569 20 24V16C20 14.3431 18.6569 13 17 13H7Z" fill="#A5A7A9")
								rect(x="16" y="17" width="2" height="8" rx="1" transform="rotate(90 16 17)" fill="#A5A7A9")
								rect(x="16" y="21" width="2" height="8" rx="1" transform="rotate(90 16 21)" fill="#A5A7A9")
								rect(x="20" y="9" width="2" height="3" rx="1" transform="rotate(90 20 9)" fill="#A5A7A9")
						.order-list-buttons-item.save
							svg(width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg").order-list-buttons-item-img
								path(d="M1 3.5C1 2.39543 1.89543 1.5 3 1.5H16C19.866 1.5 23 4.63401 23 8.5V21.5C23 22.6046 22.1046 23.5 21 23.5H3C1.89543 23.5 1 22.6046 1 21.5V3.5Z" stroke="#A5A7A9" stroke-width="2").stroke
								rect(x="4" y="13.5" width="2" height="10" rx="1" fill="#A5A7A9")
								rect(x="18" y="13.5" width="2" height="10" rx="1" fill="#A5A7A9")
								rect(x="4" y="15.5" width="2" height="16" rx="1" transform="rotate(-90 4 15.5)" fill="#A5A7A9")
								rect(x="6" y="9.5" width="2" height="12" rx="1" transform="rotate(-90 6 9.5)" fill="#A5A7A9")
								rect(x="8" y="9.5" width="2" height="8" rx="1" transform="rotate(180 8 9.5)" fill="#A5A7A9")
								rect(x="18" y="9.5" width="2" height="8" rx="1" transform="rotate(180 18 9.5)" fill="#A5A7A9")
								rect(x="15" y="6.5" width="2" height="3" rx="1" transform="rotate(-180 15 6.5)" fill="#A5A7A9")


			.content-wrap-elem 
				.content-properties.content-elem
					.content-properties-text Свойства:
					.content-properties-elem
						img(src="style/img/properties/properties-1.png", alt="").content-properties-img
					.content-properties-elem 
						img(src="style/img/properties/properties-2.png", alt="").content-properties-img
				
				.order-product-prev.content-elem
					.order-product-prev-wrap
						.order-product-prev-slider
							.order-product-prev-slider-elem
								.order-product-prev-slider-img-box
									img(src="style/img/product/product-5.jpg", alt="").order-product-prev-slider-img
							.order-product-prev-slider-elem
								.order-product-prev-slider-img-box
									img(src="style/img/product/product-5.jpg", alt="").order-product-prev-slider-img
							.order-product-prev-slider-elem
								.order-product-prev-slider-img-box
									img(src="style/img/product/product-5.jpg", alt="").order-product-prev-slider-img
							.order-product-prev-slider-elem
								.order-product-prev-slider-img-box
									img(src="style/img/product/product-5.jpg", alt="").order-product-prev-slider-img
							.order-product-prev-slider-elem
								.order-product-prev-slider-img-box
									img(src="style/img/product/product-5.jpg", alt="").order-product-prev-slider-img
							.order-product-prev-slider-elem
								.order-product-prev-slider-img-box
									img(src="style/img/product/product-5.jpg", alt="").order-product-prev-slider-img
					.order-product-btn-wrap
						a(href="").order-product-btn Детали
						a(href="").order-product-btn Сертификаты
