.wrapper
	include ../var/sidebar.pug

	.content.content-test
		.product-search.content-elem
			.product-search-top
				.product-search-top-elem 
					select(style="width: 100%").custom-select
						option(value="0" disabled selected) Артикул
						option(value="1") Артикул № 1
						option(value="2") Артикул № 2
						option(value="3") Артикул № 3
				.product-search-top-elem
					.product-search-text Содержит: 
					select(style="width: 100%").custom-select
						option(value="0" selected) КОС 598
						option(value="1") КОС 600
						option(value="2") КОС 358
						option(value="3") КОС 700
					.product-search-clear
			.product-search-bottom
				.table.product-search-table
					.table-row.table-heading
						.table-elem Артикул
						.table-elem Наименование
					a(href="").table-row 
						.table-elem КОС598
						.table-elem Костюм “Финикс” бежевый/олива
					a(href="").table-row 
						.table-elem КОС598
						.table-elem Костюм “Финикс” бежевый/т. бежевый NEW
					a(href="").table-row 
						.table-elem КОС598
						.table-elem Костюм “Финикс” св.серый/серый
					a(href="").table-row 
						.table-elem КОС598
						.table-elem Костюм “Финикс” бежевый/т. серый NEW

		.table.more-info-table.content-elem
			.table-row.table-heading
				.table-elem Характеристика
				.table-elem Остаток
				.table-elem Цена
				.table-elem Пп / Дата
			.table-row
				.table-elem р. 48-50. рост 5/6
				.table-elem 5.000
				.table-elem 1 000 ₽
				.table-elem 5.000 / 02.02.20
			.table-row
				.table-elem р. 48-50. рост 5/6
				.table-elem 5.000
				.table-elem 1 000 ₽
				.table-elem 5.000 / 02.02.20
			.table-row
				.table-elem р. 48-50. рост 5/6
				.table-elem 58.000
				.table-elem 1 000 ₽
				.table-elem 58.000 / 02.02.20
			.table-row
				.table-elem р. 48-50. рост 5/6
				.table-elem 5.000
				.table-elem 1 000 ₽
				.table-elem 5.000 / 02.02.20
			.table-row
				.table-elem р. 48-50. рост 5/6
				.table-elem 5.000
				.table-elem 1 000 ₽
				.table-elem 5.000 / 02.02.20
			.table-row
				.table-elem р. 48-50. рост 5/6
				.table-elem 5.000
				.table-elem 1 000 ₽
				.table-elem 5.000 / 02.02.20
			.table-row
				.table-elem р. 48-50. рост 5/6
				.table-elem 5.000
				.table-elem 1 000 ₽
				.table-elem 5.000 / 02.02.20

		.product-slider-block.content-elem
			.product-slider-wrap
				.product-slider
					.product-slider-elem
						img(src="style/img/product/product-5.jpg", alt="").product-slider-img
					.product-slider-elem
						img(src="style/img/product/product-5.jpg", alt="").product-slider-img
					.product-slider-elem
						img(src="style/img/product/product-5.jpg", alt="").product-slider-img
					.product-slider-elem
						img(src="style/img/product/product-5.jpg", alt="").product-slider-img
					
				.product-slider-nav
					.product-slider-nav-elem
						img(src="style/img/product/product-5.jpg", alt="").product-slider-nav-img
					.product-slider-nav-elem
						img(src="style/img/product/product-5.jpg", alt="").product-slider-nav-img
					.product-slider-nav-elem
						img(src="style/img/product/product-5.jpg", alt="").product-slider-nav-img
					.product-slider-nav-elem
						img(src="style/img/product/product-5.jpg", alt="").product-slider-nav-img

			.product-slider-buttons
				a(href="").product-slider-link Сертификаты
				a(href="").product-slider-link Заказать
				a(href="").product-slider-link Добавить в КП

		.product-parcel
			.product-parcel-wrap
				.product-parcel-elem.content-elem
					.content-hide
						.product-parcel-row
							.product-parcel-text Наценка: 
							.product-parcel-value
								button.product-parcel-btn 30
								button.product-parcel-btn %
								button.product-parcel-btn ₽
						.product-parcel-row
							.product-parcel-text Цена с наценкой: 
							.product-parcel-value 1 300 ₽
					.product-parcel-elem-name Наценка
				.product-parcel-elem.content-elem
					.content-hide
						.product-parcel-row
							.product-parcel-text Количество: 
							.product-parcel-value 
								button.product-parcel-btn 0
						.product-parcel-row
							.product-parcel-text Сума: 
							.product-parcel-value 1 300 ₽
						.product-parcel-row
							.product-parcel-text Средний вес: 
							.product-parcel-value 25 кг
						.product-parcel-row
							.product-parcel-text Средний объем: 
							.product-parcel-value 26 м.куб
					.product-parcel-elem-name Количество
				.product-parcel-hide-btn.content-hide-btn  Скрыть —
				
		.product-info.product-info-tab.content-elem
			.content-elem-heading 
				.content-elem-heading-text Подробно

				ul.product-info-tab-nav
					li.product-info-tab-link.active Описание
					li.product-info-tab-link Характеристика

				.content-elem-heading-btn.content-hide-btn.product-info-hide-btn Скрыть —
			
			.content-hide
				.product-info-desc.product-info-tab-elem.active
					.content-properties
						.content-properties-text Свойства:
						.content-properties-elem
							img(src="style/img/properties/properties-1.png", alt="").content-properties-img
						.content-properties-elem 
							img(src="style/img/properties/properties-2.png", alt="").content-properties-img
					p
						| Сообщаем вам что согласно Постановлению Правительства 
						| Российской Федерации № 216 от 29.02.2020 дата запрета 
						| оборота немаркированной обуви перенесена на 1 июля 2020 года.
					p
						| Сообщаем вам что согласно Постановлению Правительства 
						| Российской Федерации № 216 от 29.02.2020 дата запрета оборота 
						| немаркированной обуви перенесена на 1 июля 2020 года. Сообщаем 
						| вам что согласно Постановлению Правительства Российской 
						| Федерации № 216 от 29.02.2020 дата запрета оборота 
						| немаркированной обуви перенесена на 1 июля 2020 года. Сообщаем 
						| вам что согласно Постановлению.
					p
						| Сообщаем вам что согласно Постановлению Правительства Российской 
						| Федерации № 216 от 29.02.2020 дата запрета оборота 
						| немаркированной обуви перенесена на 1 июля 2020 года. Сообщаем 
						| вам что согласно Постановлению Правительства Российской Федерации 
						| № 216 от 29.02.2020 дата запрета оборота немаркированной обуви 
						| перенесена на 1 июля 2020 года.
					p
						| Сообщаем вам что согласно Постановлению Правительства Российской 
						| Федерации № 216 от 29.02.2020 дата запрета оборота немаркированной 
						| обуви перенесена на 1 июля 2020 года. Сообщаем вам что согласно 
						| Постановлению. Сообщаем вам что согласно Постановлению 
						| Правительства Российской Федерации № 216 от 29.02.2020 дата 
						| запрета оборота немаркированной обуви перенесена на 1 июля 
						| 2020 года. Сообщаем вам что согласно Постановлению Правительства 
						| Российской Федерации № 216 от 29.02.2020 дата запрета оборота 
						| немаркированной обуви перенесена на 1 июля 2020 года.

				.product-info-table.product-info-tab-elem
					.table
						.table-row
							.table-elem Стандарт
							.table-elem ГОСТ 12.4.280-2014, ТР ТС 019/2011
						.table-row
							.table-elem Коллекция
							.table-elem Финикс
						.table-row
							.table-elem Комплектация
							.table-elem Брюки и куртка
						.table-row
							.table-elem Бренд
							.table-elem Эксперт Спецодежда
						.table-row
							.table-elem Стандарт
							.table-elem ГОСТ 12.4.280-2014, ТР ТС 019/2011
						.table-row
							.table-elem Коллекция
							.table-elem Финикс
						.table-row
							.table-elem Комплектация
							.table-elem Брюки и куртка
						.table-row
							.table-elem Бренд
							.table-elem Эксперт Спецодежда