head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	title Coveralls
	meta(name="description" content="Coveralls")
	meta(name="keywords" content="test, test1, test2")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet" href="./style/css/fullcalendar.min.css")
	link(rel="stylesheet" href="./style/css/jquery.mCustomScrollbar.min.css")
	link(rel="stylesheet" href="./style/css/select2.min.css")
	link(rel="stylesheet" href="./style/css/slick.css")
	link(rel="stylesheet" href="./style/css/main.css")

	// Chrome, Firefox OS and Opera
	meta(name="theme-color" content="#1F2227")
	// Windows Phone
	meta(name="msapplication-navbutton-color" content="#1F2227")
	// iOS Safari 
	meta(name="apple-mobile-web-app-status-bar-style" content="#1F2227")

	