script(src="./style/js/plugin/jquery-3.4.1.min.js")
script(src="./style/js/plugin/slick.min.js")
script(src="./style/js/plugin/jquery.mCustomScrollbar.concat.min.js")
script(src="./style/js/plugin/select2.min.js")
script(src="./style/js/plugin/select2-ru.js")

script(src="./style/js/main.js")
